@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: 'Inter', 'Noto Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Inter', 'Noto Sans', sans-serif;
    --font-body: 'Inter', 'Noto Sans', sans-serif;

    --color-primary: #0b5daf;
    --color-primary-hover: #084685;
    --color-secondary: #f1f5f9;
    --color-text-main: #0f172a;
    --color-text-muted: #475569;
}